*,*::before,*::after{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.container{
    position: relative;
    max-width: 700px;
    overflow: hidden;
    height: 100vh;
    padding: 10px 20px; 
    margin: 0 auto;
}

.title{
    text-align: center;
    font-size: 1.4rem;
    margin: 10px 0;
}

.questions{
    margin-bottom: 12px;
}

.questions > .__title{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.cards .card{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: white;
    border-radius: 8px;
    box-shadow:  2px 2px 4px #bcbcbc;
    font-size: 24px;
    font-weight: 600;
}

.gift-container{
    position: absolute;
    right: 10px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    top: 50%;
    z-index: 99999;
}

.gift-card-container{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    animation: fadeIn linear 300ms;
}

.gift-card{
    display: flex;
    align-items: center;
    width: 250px;
    position: relative;
    padding: 12px;
    margin-right: 5px;
    border-radius: 50px;
    overflow: hidden;
}

.bg-card{
    filter: blur(20px);
    z-index: -999;
    background-image: linear-gradient(to right, rgb(37, 35, 35) ,rgba(54, 52, 52,0.4));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.avatar{
    width: 40px;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

.gift-info{
    display: flex;
    padding: 4px 0;
    gap: 4px;
    flex: 1;
    flex-direction: column;
    margin-left: 8px;
    justify-content: center;
}

.gift-info > .nickname{
    color: rgb(249, 249, 249);
    font-weight: 600;
    letter-spacing: 0.5px;
}

.gift-info > .detail{
    font-size: 0.8rem;
    margin: 0;
    color: rgb(195, 191, 191);
}

.gift-info .nickname,
.gift-info .detail{
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gift-counter{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(245,245,245);
    animation: bam linear infinite;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(170, 165, 165, 0.603);
}

.counter{
    margin-left: 4px;
    font-size: 1.5em;
}

.gift-icon{
    width: 40px;
    height: 40px;
}

.leaderboard{
    overflow: hidden;
    margin-top: 20px;
    width: 75%;
    padding: 10px 0;
    height: 300px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 1px 1px 4px gray;
}

.leaderboard > .head{
    padding: 8px;
    text-align: center;
}

.leaderboard .list-leaderboard{
    padding: 17px 12px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    animation: fadeOut linear 150ms;
}

.jump{
    animation: bam linear 100ms;
}

@keyframes fadeOut {
    0%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50px);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: translateX(250px);
    }
    100%{
        opacity: 1;
    }
}
